@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  font-size: 16px;
} 

.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  color: #E84142;
}

.uwu {
  --background: 240 80% 94% !important;
  --popover: 240 80% 94% !important;
  --primary: #1f66f4 !important;
  --border: 230 30% 87% !important;
  --accent: 250 80% 90% !important;
  --secondary: 230 40% 94% !important;
  --muted: 230 80% 92% !important;
  --card: 230 90% 94% !important;
}

.uwu.dark {
  --background: 240 40% 20% !important;
  --popover: 240 20% 20% !important;
  --primary: #1f66f4 !important;
  --border: 230 30% 30% !important;
  --muted: 230 30% 36.3% !important;
  --secondary: 250 30% 36.3% !important;
  --accent: 250 20% 38.3% !important;
  --muted-foreground: 230 80% 84% !important;
  --card: 230 40% 26.3% !important;
}

/* Fix padding bug in Code block */
.nd-codeblock .highlighted {
  padding: 0 16px;
}

svg.lucide {
  color: #3752AC;
}

.my-6 > svg.lucide {
    color: #fff;
}

.text-primary {
    --tw-text-opacity: 1;
    color: #1f66f4;
}

.bg-primary\/10 {
    background-color: #1f66f41a;
}

.text-xs {
  font-size: 0.7rem;
}

h2.text-sm.font-medium {
  color: #737373;
}

.mb-2.inline-flex.size-7.items-center.justify-center.rounded-full.bg-fd-primary.font-medium.text-fd-primary-foreground {
  background-color: hsl(0deg 0% 49.74%);
  color: #fff;
}

.text-fd-muted-foreground {
  color: #737373;
}

.hide-icons svg.lucide.lucide-folder, svg.lucide.lucide-folder-open {
    display: none;
}

.hover\:bg-accent:hover {
  --tw-bg-opacity: 1;
  background-color: hsl(212.99deg 45.23% 89.66%);
}

nav a:not(:first-child) {
  display: none;
}