@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Geist Variable', system-ui, sans-serif;
}

.font-mono,
code,
pre {
  font-family: 'Geist Mono Variable', monospace;
}

/** Below overrides for builder-docs */

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

select,input, textarea, button {
  @apply dark:bg-neutral-900 border-neutral-200 dark:border-neutral-700;
}

body {
  @apply bg-gray-100;
  @apply dark:bg-black;
  @apply text-neutral-900;
  @apply dark:text-neutral-100;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

svg.lucide {
  color: #1f66f4;
}

