name: CI

on:
  push:
  pull_request:

env:
  node_version: 16

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          cache: yarn
          node-version: ${{ env.node_version }}
      - run: yarn install --frozen-lockfile
      - run: yarn build
